<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Criticals and Errors to Slack</title>
        <input-field type="bool">
            <name>enabled</name>
            <label>Enabled</label>
            <default>false</default>
        </input-field><input-field type="bool">
            <name>ignoredev</name>
            <label>Do not trigger if the environment is not running in production mode</label>
            <default>true</default>
        </input-field>
        <input-field type="text">
            <name>webhookurl</name>
            <label>Webhook URL</label>
        </input-field>
        <input-field type="text">
            <name>mentions</name>
            <label>Mentions</label>
            <helpText>You can specify multiple mentions separated by semicolon (;). Please use @USERID or !here</helpText>
        </input-field>
        <input-field type="bool">
            <name>errorsenabled</name>
            <label>Log errors too</label>
            <helpText>Can be unselected to hide errors from the Slack feed</helpText>
            <default>true</default>
        </input-field>
        <input-field type="textarea">
            <name>ignorederrors</name>
            <label>Ignored error classes</label>
            <helpText>You can list the Error Classes to ignore in this field, one per line. We use instanceof logic, so interitance works</helpText>
        </input-field>
        <input-field type="textarea">
            <name>ignoredreferererrors</name>
            <label>Ignored error classes where referer is empty</label>
            <helpText>You can list the Error Classes to ignore in this field, one per line. We use instanceof logic, so interitance works. These errors are ignored when the referer is empty. For example, you can still detect invalid URLs coming in, but ignore when users/bots opened them directly</helpText>
        </input-field>
        <input-field type="textarea">
            <name>ignoredreferers</name>
            <label>Ignored referer regexes</label>
            <helpText>Please put one regex per line, referers matching regex will be ignored. Regexes are treated case insensitive</helpText>
        </input-field>
        <input-field type="bool">
            <name>ignorebots</name>
            <label>Ignore bots matching regexes below</label>
            <default>false</default>
        </input-field>
        <input-field type="textarea">
            <name>ignoredbots</name>
            <label>Ignored bot regexes</label>
            <helpText>Please put one regex per line, bots matching regex will be ignored. Regexes are treated case insensitive</helpText>
        </input-field>
    </card>
</config>